In [1]:
mylist =[1,2,3,4,5,6,7,8,9,10]
for num in range (0,10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [2]:
range (0,10)

range(0, 10)

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for num in range (10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range (2,6):
    print(num)

2
3
4
5

In [6]:
for num in range (0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
#enumerate

In [8]:
index_count=0
for letter in 'abcde':
    print('At index{}the letter is{}'.format(index_count,letter))
    index_count+=1

At index0the letter isa
At index1the letter isb
At index2the letter isc
At index3the letter isd
At index4the letter ise

In [9]:
word ='abcde'
for item in enumerate (word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [10]:
type(item)

tuple

In [11]:
word ='abcde'
for index in enumerate (word):
    print(index)
    print(letter)
    print('/n')

(0, 'a')
e
/n
(1, 'b')
e
/n
(2, 'c')
e
/n
(3, 'd')
e
/n
(4, 'e')
e
/n

In [12]:
mylist1=['a','b','c']
mylist2=[1,2,3]
for mylist1,mylist2 in zip(mylist1,mylist2):
    print(mylist1)
    print(mylist2)

a
1
b
2
c
3

In [13]:
mylist1=['a','b','c']
mylist2=[1,2,3]
mylist3=[4,5,6]
for mylist1,mylist2,mylist3 in zip(mylist1,mylist2,mylist3):
    print(mylist1)
    print(mylist2)
    print(mylist3)

a
1
4
b
2
5
c
3
6

In [14]:
#in keyword

In [15]:
'b'in['a','b','c']

True

In [16]:
'x'in[2,3,4]

False

In [17]:
'x'in['x','y','z']

True

In [18]:
'mykey'in {'mykey'}

True

In [19]:
d={'mykey':345}
345 in d

False

In [20]:
345 in d.values()

True

In [21]:
345 in d.keys()

False

In [22]:
345 in d.items()

False

In [23]:
#min,max

In [24]:
mylist =[10,20,30,40,50,60]
min(mylist)

10

In [25]:
max(mylist)

60

In [26]:
#random library

In [27]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
mylist

[2, 3, 1, 10, 9, 5, 8, 7, 4, 6]

In [28]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
rd1 =mylist

In [29]:
rd1

[10, 5, 1, 4, 6, 9, 8, 7, 3, 2]

In [30]:
from random import randint
randint(0,100)

62

In [31]:
my_num=randint(0,100)
my_num

27

In [32]:
from random import shuffle
mylist=['apple','ball','cat']
shuffle(mylist)
rd1 =mylist
rd1

['apple', 'ball', 'cat']

In [33]:
from random import shuffle
mylist=[(1,2),(3,4),(5,6)]
shuffle(mylist)
rd1 =mylist
rd1

[(5, 6), (3, 4), (1, 2)]

In [34]:
#input()

In [35]:
input("enter a number here")

enter a number here4

'4'

In [37]:
input("what is your fav colour")

what is your fav colourred

'red'

In [38]:
number =float(input('enter 1st number'))
number_two=float(input('enter 2nd number'))
result=number*number_two
print (result)

enter 1st number6
enter 2nd number4
24.0

In [39]:
input("name")
input("section")

namebaka
sectionc

'c'

In [40]:
a =input("Enter your 1ST name")
b=input("Enter your 2ND course")
print(a)
print(b)

Enter your 1ST nameindra
Enter your 2ND courseBCA
indra
BCA

In [41]:
sisters=input('Sister name')
brother=input('Brother name')
print(sisters)
print(brother)

Sister namebaka
Brother namemoron
baka
moron

In [42]:
#List comprehesion in python

In [43]:
mystring='hello'
mylist=[]
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [44]:
mystring='hello'
mylist=[letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [45]:
mylist=[x for x in 'Geeta']
mylist

['G', 'e', 'e', 't', 'a']

In [46]:
mylist=[x for x in range(2,200)]
mylist

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199]

In [47]:
mylist=[x for x in range(2,10)if x%2==0]

mylist

[2, 4, 6, 8]

In [48]:
celcius =(2,3,4,5,9)
fahrenhait=[((9/5)*temp+32)for temp in celcius]
fahrenhait

[35.6, 37.4, 39.2, 41.0, 48.2]

In [49]:
celcius =(2,3,4,5,9)
fahrenhait=[]
for temp in celcius:
    fahrenhait.append((9/5)*temp+32)
print(fahrenhait)

[35.6, 37.4, 39.2, 41.0, 48.2]

In [50]:
#nested loop

In [51]:
mylist=[]
for x in[2,4,6]:
    for y in[1,10,100]:
        mylist.append(x*y)
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]